
.container_arredamenti{


  .content_btn_bubble {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 49.688em;
    bottom: -3.750em;
    .content_bubble_arredamenti {
      .frt_case_content{
        padding: 50px;
      }

    }
    .btn_arredamenti {
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      bottom: -2.188em;
    }
  }
}
