$frt_img: 10px;

.frt_img{
  background-image: url("../img/strips.png");
  line-height: 0px;

  &.reverse{
    background-image: url("../img/rev_strips.png");
    &.medium{
      background-image: url("../img/rev_strips_medium.png");
    }
  }

  &.medium{
    background-image: url("../img/strips_medium.png");
  }

  &.no_border{
    background-image: none;
  }

  .frt_img_wrapper{
    position: relative;

    &:after{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url("../img/strips.png");
      top: $frt_img * (-1);
      left: $frt_img;
    }

    &.reverse:after{
      background-image: url("../img/rev_strips.png");
    }

    &.medium:after{
      background-image: url("../img/strips_medium.png");
    }

    &.medium.reverse:after{
      background-image: url("../img/rev_strips_medium.png");
    }

    &.no_filter:after{
      background-image: none;

    }

    img{
      border: none;
      margin: 0px;
      max-width: 100%;
      max-height: 100%;
      position: relative;
      top: $frt_img * (-1);
      left: $frt_img;
    }
  }

  &.flip{
    .frt_img_wrapper{
      &:after{

        left: $frt_img * (-1);
      }
      img{

        left: $frt_img * (-1);
      }
    }
  }

}