$width_logo:21.250em;
$width_button_header:9.375em;


.container_header {
  position: fixed;
  width: 100%;
  height: 5.375em;
  .header_wrapper {
    background-color: rgba(252,255,255,0.5);
    @include cols();
    .logo {
      @include cell();
      width: $width_logo;

    }
    .center_header {
      @include flex();

    }
    .button_container_header {
      @include cell();
      width: $width_button_header;

      .label_button_header {

      }
      .icon_button_header {
        margin-left: 0.2em;
      }
    }
  }
}