$background_menu: #ffffff;

$first_color: #323232;

$height_header_menu: 4em;
$max_height_nav_menu: 29.375em;
$height_footer_menu: 3em;
$max_width_menu: 86em;
$width_cell_header_menu: 18.750em;
$width_cell_btn_close:15em;

$width_cell_footer_menu: 24.75em;


$width_container_nav:43.750em;
$height_container_nav:20em;

$padding_nav_row:0.625em;

$size_icon_close:2.500em;

.menu {


  width: 100%;
  height: 100%;
  background-color: $background_menu;
  position: fixed;
  top: 0px;
  left: 0px;

  .menu_wrapper {
    @include rows();
    max-width: $max_width_menu;
    margin: 0 auto;

    .header_menu {
      @include cell();
      height: $height_header_menu;
      background-color: $background_menu;

      .header_menu_wrapper {
        @include cols(jus-between);

        .rec_tel {
          @include cell();
          width: $width_cell_header_menu;

          .label_tel {
            color: #323232;
            font-size: 0.8em;
            letter-spacing: 0.2em;
          }

        }
        .btn_close_button {
          @include cell();
          width: $width_cell_btn_close;

          .label_close {
            float: right;
          }
          .icon_close{
            font-size: $size_icon_close;
            margin-left: 0.2em;
          }

        }
      }
    }
    .nav_menu {
      @include flex();


      .container_nav {
        position: relative;
        width: $width_container_nav;
        height: $height_container_nav;

        .container_nav_wrapper {
          @include cols();

          .col_left {
            @include cell();
            width: 50%;


            .col_left_wrapper {
              @include rows();

              .nav_row {
                @include flex();

                @extend .padder_nav_row;

              }

            }
          }
          .col_right {
            @include cell();
            width: 50%;


            .col_right_wrapper {
              @include rows();

              .nav_row {
                @include flex();

                @extend .padder_nav_row;
              }
            }
          }
        }
      }
    }
    .footer_menu {
      @include cell();
      height: $height_footer_menu;

      .footer_menu_wrapper {
        @include cols(jus-between);

        .rec_email {
          @include cell();
          width: $width_cell_footer_menu;

          .label_email{
            color: $first_color;
          }
        }
        .btn_back_button {
          @include cell();
          width: $width_cell_footer_menu;

          .label_back{
            text-align: center;
          }
        }
        .menu_social {
          @include cell();
          width: $width_cell_footer_menu;

          .label_social{
            float: right;
            margin-left: 1em;
          }
          .icon_social{
            margin-left:1em;
          }
        }
      }
    }
  }
}




.padding_header_menu {
  @extend .PADDER-CENTER;
}

.padding_footer_menu{
  @extend .PADDER-CENTER;
}



.padder_nav_row {
  padding-left: $padding_nav_row;


  .item_title_menu {
    font-size: 0.9em;

  }
  .hyphen_menu{
    width: 0;
    height: 0.313em;
    background-color: black;
    float: left;
    margin-top: 0.6em;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

  }
  .item_menu{

  }

  &:hover{
    .hyphen_menu{
      margin-right: 1em;
      width: 1.500em;

    }
    .item_menu {
      color: $light_blue;
    }
  }
}

.padder_nav_row_item{
  cursor: pointer;
}

