$main_col_width: 75%;
$size_text_body: 16px;
$width_header: 100%;
$height_header:4em;
$width_container_header:100%;

/* SLIDER VARIABLE */
$width_slider:100%;
$height_slider:40em;

/* INTRO VARIABLE */
$width_intro: 100%;
$height_intro:30em;

/* MISSION VARIABLE */
$width_mission: 100%;
$height_mission:50em;


body {
  font-size:$size_text_body ;
  margin:0px;

  .site {
   /* @extend .EXTENDER;

    .main_col {
      @include cell();
      width: $main_col_width;

      .site_header {
        @include cell();
        height: 3em;
        border-bottom: solid 1px;

      }

      .site_footer {
        @include cell();
        height: 50px;
        background-color: red;
      }

      .site_body {
        @include flex();
      }

    }*/

    .header{
      position: fixed;
      height:$height_header;
      width: 100%;


      .container_header{
        position: relative;
        width:$width_container_header;
        height:100%;
        margin-right: auto;
        margin-left: auto;
      }
    }
    #slider {
      position: relative;
      width: $width_slider;
      height:$height_slider ;
      border: 1px solid red;
    }
    #intro {
      position: relative;
      width: $width_intro;
      height:$height_intro;
      border: 1px solid blue;
    }
    #mission{
      position: relative;
      width: $width_mission;
      height:$height_mission;
      border: 1px solid green;
    }




  }
}


