.SITE_HEADER{
  @include cols();

  .logo{
    @include cell();
    width: 250px;
    background-color: green;
  }

  .header_spacer{
    @include flex();
  }

  .header_button{
    @include cell();
    width: 100px;
  }

}