$main_col_width: 75%;
$size_text_body: 16px;
$width_header: 100%;
$height_header:4em;
$width_container_header:100%;

/* SLIDER VARIABLE */
$width_slider:100%;
$height_slider:30em;

/* INTRO VARIABLE */
$width_intro: 100%;
$height_intro:30em;

body {
  font-size:$size_text_body ;


  .site {
   /* @extend .EXTENDER;

    .main_col {
      @include cell();
      width: $main_col_width;

      .site_header {
        @include cell();
        height: 3em;
        border-bottom: solid 1px;

      }

      .site_footer {
        @include cell();
        height: 50px;
        background-color: red;
      }

      .site_body {
        @include flex();
      }

    }*/

    .header{
      position: relative;
      height:$height_header;
      .container_header{
        position: relative;
        width:$width_container_header;
        height:100%;
        margin-right: auto;
        margin-left: auto;
      }
    }
    #slider {
      position: relative;
      width: $width_slider;
      height:$height_slider ;
      border: 1px solid black;
    }
    #intro {
      position: relative;
      width: $width_intro;
      height:$height_intro;
      border: 1px solid black;


    }




  }
}


