


$main_font:             "sofia-pro", 'Helvetica Neue', Helvetica, Arial, sans-serif;
$secondary_font:        "museo-regular", 'Helvetica Neue', Helvetica, Arial, sans-serif;
$main_font_size:        16px;

$letter-spacing:            0.2em;
$letter-spacing-paragraph:  0.15em;

$main_color:    #262626;
$blue:          #002a50;
$light_blue:    #0086ff;
$dark_grey:     #595959;
$grey:          #999999;
$light_grey:    #acacac;


$interline:       2em;





body{
  font-family: $main_font;
  font-size: $main_font_size;
  color: $main_color;
}

.label_button {
  text-transform: uppercase;
  font-size: 0.875em;
  font-weight: 700;

  letter-spacing: $letter-spacing;
}

.icon_button {
  font-size: 1.875em;
  color:$blue;
}


.title{
  font-size: 1.750em;
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
  line-height: $interline;



  &.blue{
    color: $light_blue;
  }

}

.paragraph{
  font-family: $secondary_font;
  line-height:$interline;
  letter-spacing: $letter-spacing-paragraph;
  color: $dark_grey;
  margin-top: 0.625em;
  font-size: 0.9em;

}

.label_pappoc{
  color:$light_blue;
  text-transform: uppercase;
}

.label_button{
  letter-spacing: $letter-spacing-paragraph;
}
.hashtag{
  color:$light_blue;
  letter-spacing: $letter-spacing-paragraph;
  text-transform: uppercase;
  line-height:$interline;
}

.quote{
  font-style: italic;
  font-family: $secondary_font;
  line-height:$interline;
  letter-spacing: $letter-spacing-paragraph;
  color:$dark_grey;
}

.name{
  color: $blue;
  letter-spacing: $letter-spacing-paragraph;
  text-transform: uppercase;

}

.number_servizi{
  color:$light_grey;
  letter-spacing: $letter-spacing-paragraph;
  font-weight: 100;
}

.star{
  color:$light_blue;
}

.text_intestazione{
  font-family: $secondary_font;
  font-size: 0.625em;
  line-height:$interline;
  letter-spacing: $letter-spacing-paragraph;
  color: $grey;

  &.cookie{
    color:$blue;
    text-transform: uppercase;
  }
}

.footer_text{
  font-family: $secondary_font;
  font-size: 0.750em;
  line-height:$interline;
  letter-spacing: $letter-spacing-paragraph;
  color: $dark_grey;
  width: 100%;
}





.font_thin{
  font-weight: 100;
}

.font_bold{
  font-weight: bold;
}

.font_uppercase{
  text-transform: uppercase;
}






.second_font_100{
  font-family: $secondary_font;
  font-weight: 100;
}

.second_font_200{
  font-family: $secondary_font;
  font-weight: 200;
}

.second_font{
  font-family: $secondary_font;
  font-weight: 400;
}


.second_font_500{
  font-family: $secondary_font;
  font-weight: 500;
}

.second_font_600{
  font-family: $secondary_font;
  font-weight: 600;
}





.blue{
  color: $blue;
}


.light_blue{
  color: $light_blue;
}


.dark_grey{
  color: $dark_grey;
}


.grey{
  color: $grey;
}


.light_grey{
  color: $light_grey;
}


.white{
  color: white;
}

