
.container_section {

  .container_text_blog_articolo_top {
    width:63.438em;
    height:14.688em;
    background-color: rgba(0,0,0,0.3);

    .text_blog_articolo_top{
      width:45.000em;


      .frt_text, .frt_title{
        text-align: center;
      }
    }


  }
  .container_button_blog_articolo_top{
    width:100%;
    height:6em;
    position: absolute;
    bottom:-3.625em;

    .container_button_blog_articolo_top_wrapper{
      @include cols(jus-center);

      .button_blog_articolo_top {
        @include cell();
        width: 17em;

      }

    }
  }
}