


.container_immobili_simili{

  .container_title{
    position: relative;
    text-align: center;



  }
  .container_schedule{
    position: relative;
    overflow: hidden;
    margin-top: 3.125em;
  }
}