

$frt_img_2nd_border_thickness: 15px;


.frt_image{

  position: relative;
  overflow: auto;
  padding-top: $frt_img_2nd_border_thickness;

  .frt_image_wrapper{
    display: inline-flex;
    background-image: url("../img/strips.png");

    &.medium{
      background-image: url("../img/strips_medium.png");
    }

    &.reverse{
      background-image: url("../img/rev_strips.png");

      &.medium{
        background-image: url("../img/rev_strips_medium.png");
      }

    }


    .frt_image_content{
      position: relative;
      display: inline-flex;

      left:$frt_img_2nd_border_thickness;
      top:$frt_img_2nd_border_thickness*(-1);



      &:after{
        content: "";
        position: absolute;
        left: 0px;
        background-image: url("../img/strips.png");
        width: 100%;
        height: 100%;
      }

      &.reverse{
        &:after {
          background-image: url("../img/rev_strips.png");
        }

        &.medium{
          &:after {
            background-image: url("../img/rev_strips_medium.png");
          }
        }

      }

      &.medium{
        &:after {
          background-image: url("../img/strips_medium.png");
        }
      }




    }
  }

}
