$width_cantieri: 100%;
$height_cantieri_top: auto;

$width_in_costruzione: 100%;
$height_in_costruzione: auto;

$width_descrizione_cantieri: 100%;
$height_descrizione_cantieri: 600px;

$width_instagram: 100%;
$height_instagram:60.125em;

$width_caratteristiche:100%;
$height_caratteristiche:66.125em;

$margin_bottom: 6.063em;


#cantieri_top {
  position: relative;
  width: $width_cantieri;
  height: $height_cantieri_top;

  &.section{
    margin-bottom: $margin_bottom;
  }
}


#descrizione_cantieri{
  position: relative;
  width: $width_descrizione_cantieri;
  height: $height_descrizione_cantieri;

  &.section{
    margin-bottom: $margin_bottom;
  }
}

#caratteristiche_cantieri{
  position: relative;
  width: $width_caratteristiche;
  height: $height_caratteristiche;


}