
.container_marchi{
  width: 100%;
  height: 100%;
  position: relative;

  .marchi_wrapper{
    @include cols(jus-center);

    .container_img_marchi{
      @include cell();
      width: 16%;
    }
  }
}