

.container_preventivo_btn{

  .text_up{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 1.250em;
    text-align: center;

  }

  .text_down{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom:3em;
    text-align: center;
    font-size: 0.7em;

  }



}
