


.frt_instagram{
  width: 60.000em;
  height: 40.625em;


  .frt_btn_wrapper{
    position: absolute;
  }
}


/* HTML */
/*
<div class="frt_instagram">
  <div class="corner">
    <div class="EXTENDER">
      <div class="PADDER-CENTER">
        <div class="container_img_instagram">
          <img src="img/foto/foto_instagram.png">
        </div>
        <div class="frt_btn_wrapper _400px">
          <button class="frt_btn">
            <div class="EXTENDER">
               <div class="PADDER-CENTER"><span class="icon_button icon-instagram"></span><span class="label_button">seguici su instagram</span>
              </div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>*/
