$frt_paragraph_padding: 1.9em 2.5em;
$frt_paragraph_big_padding: 4em 5em;

$frt_paragraph_border_thickness: 3px;
$frt_paragraph_border_color: #262626;
$frt_paragraph_2nd_border_thickness: 5px;

$frt_paragraph_animation: ease-out;
$frt_paragraph_animation_time: 0.4s;

$interline_title:1.5em;


.frt_paragraph{

  background-image: url("../img/strips.png");
  position:relative;


  .frt_paragraph_wrapper{
    border: solid $frt_paragraph_border_thickness $frt_paragraph_border_color;
    background-color:white;
    position:relative;
    top:$frt_paragraph_2nd_border_thickness*(-1);
    left:$frt_paragraph_2nd_border_thickness;
    width: 100%;

    .frt_paragraph_content{
      padding: $frt_paragraph_padding;
    }
  }




  /*
              _   _
   ___  _ __ | |_(_) ___  _ __  ___
  / _ \| '_ \| __| |/ _ \| '_ \/ __|
 | (_) | |_) | |_| | (_) | | | \__ \
  \___/| .__/ \__|_|\___/|_| |_|___/
       |_|

  */
  &.inverse{
    .frt_paragraph_wrapper {
      left: (($frt_paragraph_border_thickness * 2) + $frt_paragraph_2nd_border_thickness ) *(-1);
    }
  }

  &.no_shadow{
    .frt_paragraph_wrapper {
      left:0px !important;
      top:0px !important;
    }
  }

  &.no_border{
    .frt_paragraph_wrapper {
      border: none !important;
      left:0px !important;
      top:0px !important;
    }
  }

  &.no_padding{
    .frt_paragraph_wrapper {
      .frt_paragraph_content{
        padding: 0px !important;
      }
    }
  }


  &.big_padding{
    .frt_paragraph_wrapper {
      .frt_paragraph_content{
        padding: $frt_paragraph_big_padding !important;
      }
    }
  }







}




.frt_subtitle{
  @extend .font_thin;
  font-size: 1.750em;
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
  line-height: $interline_title;
}

.frt_title{
  @extend .font_thin;
  font-size: 1.750em;
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
  line-height: $interline_title;

}


.frt_text{
  font-family: $secondary_font;
  line-height:$interline;
  letter-spacing: $letter-spacing-paragraph;
  color: $dark_grey;
  margin-top: 0.625em;
  font-size: 0.9em;


  &.force_main_font{
    font-family: $main_font;
  }
}










/*
<div class="frt_paragraph no_border no_padding">
    <div class="frt_paragraph_wrapper">
        <div class="frt_paragraph_content">
            <div class="frt_subtitle">con voi dal 1967,</div>
            <div class="frt_title">siamo di casa</div>
            <p class="frt_text">
                Ferretticasa lavora insieme a voi
                per le migliori proposte in termini di costruzione e arredamento.
                Abbiamobisogno di conoscere vostri bisogni e di guardare sempre di più a
                soluzioni tecniche e di design che siano innovative e ottimali, ed è
                quello che facciamo da sessant'anni con lealtà e rispetto.
            </p>
        </div>
    </div>
</div>
*/

