$padding_layout: 0em 2.75em;
$height_maps:44.375em;

.frt_maps{
  position: relative;
  height: $height_maps;

  #map{
   height:100%;
  }

  .dotted_line.top{
    top:0px;
  }

  .dotted_line.bottom{
    top: 100%;
  }

  .frt_btn_wrapper{
    width: 21em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: -1.875em;
  }
  .layout_maps{
    position: absolute;
    width:38.15%;
    height:100%;
    right:0px;
    top: 0px;
    background-color: rgba(252, 255, 255, 0.8);


    .layout_wrapper{
      @include rows();

      .layout_top{
        @include cell();
        height:33%;

        .container_title_layout{
          position: absolute;
          bottom: 1.250em;
          padding: $padding_layout;
        }
      }
      .layout_bottom{
        @include cell();
        height:67%;


        .layout_bottom_wrapper{
          @include rows();


          .container_item_layout_bottom{
            @include cell();
            height: 1.875em;
            padding: $padding_layout;
          }

        }
      }
    }
  }



}