

#title_blog{
  position: relative;
  width:100%;
  height:12em;

}

#bioedilizia, #cantieri, #comprare_casa{
  position: relative;
  width:100%;
  height:auto;
}
#bioedilizia.section, #cantieri.section, #comprare_casa.section{
  margin-bottom: 7.063em;
}