
.container_section {
  .container_text_archivi_top {
    width:63.438em;
    height:14.688em;
    background-color: rgba(0,0,0,0.3);

    .text_archivi_top{
      width:51.000em;


      .frt_text, .frt_title{
        text-align: center;
      }
    }


  }
}